@charset "UTF-8";
/* variables */
/* color del fondo */
.body {
  background-image: linear-gradient(to top, #000000, #000000d7);
  color: #009d7c; }

/* cambia el color del fondo, el tamaño y la posicion del footer */
.Footer {
  background-color: #009d7c;
  margin-top: 50px;
  padding-bottom: 25px;
  padding-top: 25px;
  color: black; }

/* cambia la direccion del contenido del footer */
.Footer__contenido {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }

.Footer__derechos {
  display: flex;
  justify-content: center; }

/* cambia el tamaño del titulo del footer */
.Footer__titulo {
  font-size: 20px; }

/* cambia el tamaño de la imagen del footer */
.Footer__imagen {
  width: 130px;
  height: 130px; }

/* le agrega una animacion a la imagen del footer */
.Footer__imagen:hover {
  transition: 1s;
  width: 150px;
  height: 150px; }

/* cambia el estilo de la lista */
.Footer__lista {
  display: block;
  list-style: circle; }

/* Contenido Producto en canasta */
.sectionFavoritos .combos__subtitulo {
  font-weight: bold;
  font-size: 15mm;
  letter-spacing: 2.5mm;
  word-spacing: 1.5mm;
  text-transform: uppercase;
  text-align: center;
  margin: 5% 0 5% 0; }

.sectionFavoritos .container__favoritos .container__favoritos-box {
  margin-bottom: 100px;
  opacity: 0; }
  .sectionFavoritos .container__favoritos .container__favoritos-box .container__favoritos-sushiDescripcion .contenedorCartas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .sectionFavoritos .container__favoritos .container__favoritos-box .container__favoritos-sushiDescripcion .contenedorCartas .contenedorCartas__titulo {
      height: 15%;
      text-transform: uppercase; }
    .sectionFavoritos .container__favoritos .container__favoritos-box .container__favoritos-sushiDescripcion .contenedorCartas .contenedorCartas__texto {
      height: 20%;
      text-transform: uppercase;
      text-align: center; }
    .sectionFavoritos .container__favoritos .container__favoritos-box .container__favoritos-sushiDescripcion .contenedorCartas .contenedorCartas__precio {
      height: 10%;
      text-align: center; }
    .sectionFavoritos .container__favoritos .container__favoritos-box .container__favoritos-sushiDescripcion .contenedorCartas .contenedorCartas__enlace {
      border: solid #009d7c 5px;
      width: auto;
      margin: 0;
      margin-left: 0;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      background-color: transparent;
      box-sizing: border-box;
      color: #009d7c; }
  .sectionFavoritos .container__favoritos .container__favoritos-box .container__favoritos-sushiImagen .container__sushiImagen-img {
    width: 100%;
    height: 401px;
    object-fit: cover;
    object-position: 50% 50%; }

.sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .carrito__subtitulos {
  display: flex;
  justify-content: space-between; }

.sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta {
  display: flex;
  padding: 15px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 20px;
  border-bottom: solid #fcedd4;
  background-color: rgba(241, 241, 241, 0.322); }
  .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta img {
    width: 100px;
    height: 100%;
    align-self: flex-start; }
  .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta .contenedor__general-producto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
    .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta .contenedor__general-producto .contenedor__producto {
      display: flex;
      flex-direction: column;
      margin-left: 20px; }
      .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta .contenedor__general-producto .contenedor__producto .descripcion-producto {
        text-align: left;
        padding: 0px;
        margin-top: 0px; }
        .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta .contenedor__general-producto .contenedor__producto .descripcion-producto .producto-canastaDescripcion {
          width: 100px;
          height: auto;
          margin-bottom: 10px;
          margin-top: 0; }
      .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta .contenedor__general-producto .contenedor__producto .contenedor__cantidad {
        display: flex;
        flex-direction: row; }
        .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta .contenedor__general-producto .contenedor__producto .contenedor__cantidad a .contenedor__cantidad-icon {
          font-size: 25px; }
        .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta .contenedor__general-producto .contenedor__producto .contenedor__cantidad a .contenedor__cantidad-icon--red {
          color: red; }
        .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta .contenedor__general-producto .contenedor__producto .contenedor__cantidad a .contenedor__cantidad-icon--green {
          color: green; }
        .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta .contenedor__general-producto .contenedor__producto .contenedor__cantidad .contenedor__cantidad-numero {
          width: 35px;
          border: black 1px solid;
          text-align: center; }
    .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta .contenedor__general-producto .contenedor__eliminar {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta .contenedor__general-producto .contenedor__eliminar .contenedor__eliminarCantidad {
        margin-right: 10px; }
      .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__carrito-productos .producto-canasta .contenedor__general-producto .contenedor__eliminar a .contenedor__eliminarProducto {
        color: red;
        font-size: 20px; }

.sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__iniciarCompra .totalCarrito .totalCarrito__contenedor {
  display: flex;
  flex: row;
  justify-content: space-between;
  margin: 20px 0px 20px 0px; }
  .sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__iniciarCompra .totalCarrito .totalCarrito__contenedor b {
    font-size: 25px; }

.sectionFavoritos .offcanvas__carrito .offcanvas__carrito-body .offcanvas__iniciarCompra .totalCarrito .totalCarrito__button {
  width: 100%;
  height: 50px;
  background-color: #faecd5; }

.lineaDivisoria {
  border-top: 5px solid black;
  height: 15px;
  width: 100%;
  padding: 0; }

.boxDesafio {
  border: solid black 5px;
  margin: 8px;
  margin-left: 0;
  padding: 5px;
  text-decoration: none;
  color: black;
  align-self: flex-start;
  justify-self: flex-start; }

.carritoContenedor {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  align-items: flex-end; }

.icon {
  font-size: 25px; }

.carritoContenedor_icono {
  align-self: center; }

.cantidadCarrito {
  position: absolute;
  width: auto;
  height: auto;
  border: solid black;
  border-radius: 20px;
  background-color: #faf7f2;
  font-size: 15px;
  padding: 5px; }

.bordes2 {
  width: 490px; }

.bordes {
  border: solid black;
  height: 75vh; }

.footer__cursor {
  cursor: pointer; }

/* organiza la seccion de carrito en columnas y lineas */
.Carrito {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 150px 150px 150px 150px;
  justify-items: center; }

/* fuente de letra */
.Carrito__fuente {
  font-style: 'ubuntu';
  font-family: 'Ubuntu', sans-serif; }

/* tamaño y color del titulo */
.Carrito__titulo {
  font-size: 20px;
  color: lightBlue; }

/* cambia el tamaño y el color de los botones */
.Carrito__button {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  background-color: #009d7c;
  border-color: #003e80;
  margin-top: 10px; }

/* organiza la seccion de Productos-variedades en columnas y lineas */
.ProductosVariedades {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px 500px 400px 400px 400px;
  justify-items: start;
  row-gap: 15px;
  padding-left: 250px;
  grid-row-gap: 10px; }

/* cambia el tamaño y la forma de las imagenes */
.ProductosVariedades__imagen {
  border-radius: 20px;
  width: 300px;
  height: 300px; }

/* fuente de letra */
.ProductosVariedades__fuente {
  font-style: 'ubuntu';
  font-family: 'Ubuntu', sans-serif; }

/* cambia el color de el texto a gris */
.ProductosVariedades__fuente--comentario {
  color: #808080; }

/* cambia el tamaño y el color de los botones */
.ProductosVariedades__button {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  background-color: #009d7c;
  border-color: #003e80;
  margin-top: 10px; }

/* organiza la seccion de productos-vegetarianos en columnas y lineas */
.ProductosVegetarianos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px 400px 400px 400px;
  justify-items: start;
  row-gap: 15px;
  padding-left: 250px; }

/* cambia el tamaño y la forma de las imagenes */
.ProductosVegetarianos__imagen {
  border-radius: 20px;
  width: 300px;
  height: 300px; }

/* fuente de letra */
.ProductosVegetarianos__fuente {
  font-style: 'ubuntu';
  font-family: 'Ubuntu', sans-serif; }

/* cambia el color de el texto a gris */
.ProductosVegetarianos__fuente--comentario {
  color: #808080; }

/* cambia el tamaño y el color de los botones */
.ProductosVegetarianos__button {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  background-color: #009d7c;
  border-color: #003e80;
  margin-top: 10px; }

/* organiza la seccion de productos-veganos en columnas y lineas */
.ProductosVeganos {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px;
  justify-items: start;
  row-gap: 15px;
  padding-left: 250px; }

/* cambia el tamaño y la forma de las imagenes */
.ProductosVeganos__imagen {
  border-radius: 20px;
  width: 300px;
  height: 300px; }

/* fuente de letra */
.ProductosVeganos__fuente {
  font-style: 'ubuntu';
  font-family: 'Ubuntu', sans-serif; }

/* cambia el tamaño y el color de los botones */
.ProductosVeganos__button {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  background-color: #009d7c;
  border-color: #003e80;
  margin-top: 10px; }

/* organiza la seccion de sobre nosotros en columnas y lineas */
.SobreNosotros {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 150px 200px; }

/* cambia el color y la posicion de la tabla */
.SobreNosotros__tabla {
  background-color: #009d7c;
  border: solid 5px #003e80;
  padding: 10px;
  display: inline-block;
  overflow: hidden;
  color: #000000; }

/* fuente de letra */
.SobreNosotros__fuente {
  font-style: 'ubuntu';
  font-family: 'Ubuntu', sans-serif; }

/* tamaño del titulo */
.SobreNosotros__titulo {
  font-size: 22px; }

/* organiza el formulario en columnas y lineas */
.Formulario {
  justify-content: center;
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: 100px 100px 200px 50px; }

/* le cambia el tamaño a los cuadros de texto */
.Formulario__CuadroDeTexto {
  width: 200px;
  height: 2fr; }

/* le cambia el tamaño al cuadro de texto del comentario */
.Formulario__CuadroDeTexto--comentario {
  width: 300px;
  height: 8rem; }

/* le cambia el tamaño y el color a la letra del formulario */
.Formulario__fuente {
  font-size: 18px;
  color: #009d7c; }

/* le cambia el tamaño y el color a la letra del formulario */
.Formulario__fuente--sexo {
  font-size: 14px;
  color: #009d7c; }

/* le cambia el tamaño y el color a la letra del comentario*/
.comentario {
  color: #808080;
  font-size: 16px; }

/* le agrega una animacion a los botones */
button:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  animation: pulse 1s infinite; }

@keyframes pulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1); }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0); }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }

/* cambia la posicion y el tamaño del titulo */
.titulo {
  display: flex;
  justify-content: center;
  font-size: 50px; }

/* cambia la posicion y el tamaño del subtitulo */
.subtitulo {
  display: flex;
  justify-content: center;
  font-size: 35px; }

/* le cambia el color a los links */
a {
  text-decoration: none;
  color: #110080 !important; }

/* cambia la posicion de los elementos */
.centrar {
  display: flex;
  justify-content: center; }

/* cambia el tamaño del slider o carousel */
.tamaño {
  height: 600px;
  width: 85% !important;
  padding-left: 200px; }

/* organiza la seccion de contactanos en columnas y lineas */
.flexContactanos {
  display: flex;
  justify-content: space-evenly; }

/* Cambia el tamaño de la Imagen del Navbar */
.navbar__image {
  width: 60px;
  height: 60px; }

/* adapta los elementos de la pagina web a la resolucion de 1200px */
@media only screen and (max-width: 1200px) {
  .Combos__imagen {
    width: 600px -200;
    height: 600px -200; }
  .Footer__imagen {
    width: 160px;
    height: 160px; }
  .Footer__imagen:hover {
    transition: 1s;
    width: 190px;
    height: 190px; }
  .Combos {
    display: grid;
    grid-template-rows: 600px 600px 600px;
    align-items: center;
    justify-items: center;
    font-size: 24px; }
  .Footer__titulo {
    font-size: 26px; }
  .Footer {
    font-size: 24px; }
  .Combos__button {
    width: 250px;
    height: 40px; }
  .tamaño {
    height: 800px;
    width: 100% !important;
    padding-left: 0px; }
  .SobreNosotros {
    display: grid;
    grid-template-rows: 150px 400px;
    font-size: 30px; }
  .comentario {
    font-size: 22px; }
  .Formulario {
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 300px 50px;
    padding-left: 35px; }
  .Formulario__CuadroDeTexto {
    width: 550px;
    height: 3rem; }
  .Formulario__CuadroDeTexto--comentario {
    width: 550px;
    height: 13rem; }
  .Formulario__fuente {
    font-size: 24px; }
  .Formulario__fuente--sexo {
    font-size: 20px; }
  .Carrito {
    font-size: 24px; }
  .Carrito__button {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px; }
  .ProductosVariedades {
    display: grid;
    grid-template-rows: 550px 830px 400px 380px 420px;
    font-size: 22px;
    padding-left: 150px; }
  .ProductosVariedades__imagen {
    width: 350px;
    height: 350px; }
  .ProductosVariedades__button {
    height: 40px;
    width: 200px;
    margin-top: 20px; }
  .ProductosVegetarianos {
    display: grid;
    grid-template-rows: 400px 500px 380px 370px;
    font-size: 22px;
    padding-left: 150px; }
  .ProductosVegetarianos__imagen {
    width: 350px;
    height: 350px; }
  .ProductosVegetarianos__button {
    height: 40px;
    width: 200px;
    margin-top: 20px; }
  .ProductosVeganos {
    display: grid;
    grid-template-rows: 670px;
    font-size: 22px;
    padding-left: 150px; }
  .ProductosVeganos__imagen {
    width: 350px;
    height: 350px; }
  .ProductosVeganos__button {
    height: 40px;
    width: 200px;
    margin-top: 20px; } }

/* adapta los elementos de la pagina web a la resolucion de 600px */
@media only screen and (max-width: 600px) {
  .Combos__imagen {
    width: 200px;
    height: 200px; }
  .Footer__imagen {
    width: 110px;
    height: 110px; }
  .Footer__imagen:hover {
    transition: 1s;
    width: 130px;
    height: 130px; }
  .Combos__button {
    font-size: 14px;
    width: 150px;
    height: 30px; }
  .Combos {
    display: grid;
    grid-template-rows: 425px 425px 425px;
    align-items: center;
    justify-items: center;
    font-size: 18px; }
  .Carrito__titulo {
    font-size: 20px; }
  .Carrito__fuente {
    font-size: 18px; }
  .Carrito__button {
    height: 35px;
    width: 200px;
    font-size: 16px; }
  .Footer {
    width: 100%;
    font-size: 16px; }
  .titulo {
    font-size: 24px; }
  .subtitulo {
    font-size: 22px; }
  .Footer__titulo {
    font-size: 20px; }
  .tamaño {
    height: 450px;
    width: 100% !important;
    padding-left: 0px; }
  .SobreNosotros {
    display: grid;
    grid-template-rows: 70px 200px;
    font-size: 16px; }
  .comentario {
    font-size: 16px; }
  .Formulario {
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 50px;
    padding-left: 35px; }
  .Formulario__CuadroDeTexto {
    width: 250px;
    height: 2rem; }
  .Formulario__CuadroDeTexto--comentario {
    width: 250px;
    height: 8rem; }
  .Formulario__fuente {
    font-size: 16px; }
  .ProductosVariedades {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 470px 750px 300px 270px 340px;
    grid-row-gap: 10px;
    font-size: 16px;
    padding-left: 30px; }
  .ProductosVariedades__imagen {
    border-radius: 20px;
    width: 250px;
    height: 250px; }
  .ProductosVariedades__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; }
  .ProductosVegetarianos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 270px 450px 270px 320px;
    font-size: 16px;
    padding-left: 30px; }
  .ProductosVegetarianos__imagen {
    border-radius: 20px;
    width: 250px;
    height: 250px; }
  .ProductosVegetarianos__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; }
  .ProductosVeganos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 550px;
    font-size: 16px;
    padding-left: 30px; }
  .ProductosVeganos__imagen {
    border-radius: 20px;
    width: 250px;
    height: 250px; }
  .ProductosVeganos__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; } }

/* adapta los elementos de la pagina web a la resolucion de 480px */
@media only screen and (min-width: 481px) and (max-width: 540px) {
  .Combos__imagen {
    width: 150px;
    height: 150px; }
  .Footer__imagen {
    width: 80px;
    height: 80px; }
  .Footer__imagen:hover {
    transition: 1s;
    width: 100px;
    height: 100px; }
  .Carrito__titulo {
    font-size: 16px; }
  .Carrito__fuente {
    font-size: 14px; }
  .Carrito__button {
    height: 35px;
    width: 200px;
    font-size: 16px; }
  .Combos__button {
    font-size: 12px;
    width: 120px;
    height: 30px; }
  .Combos {
    display: grid;
    grid-template-rows: 375px 375px 375px;
    align-items: center;
    justify-items: center;
    font-size: 16px; }
  .Footer {
    width: 100%;
    font-size: 12px; }
  .titulo {
    font-size: 22px; }
  .subtitulo {
    font-size: 20px; }
  .Footer__titulo {
    font-size: 12px; }
  .tamaño {
    height: 350px;
    width: 100% !important;
    padding-left: 0px; }
  .SobreNosotros {
    display: grid;
    grid-template-rows: 70px 200px;
    font-size: 14px; }
  .comentario {
    font-size: 14px; }
  .Formulario {
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 50px;
    padding-left: 25px; }
  .Formulario__CuadroDeTexto {
    width: 200px;
    height: 2rem; }
  .Formulario__CuadroDeTexto--comentario {
    width: 200px;
    height: 8rem; }
  .Formulario__fuente {
    font-size: 14px; }
  .ProductosVariedades {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 450px 700px 280px 250px 320px;
    grid-row-gap: 10px;
    font-size: 14px;
    padding-left: 10px; }
  .ProductosVariedades__imagen {
    border-radius: 20px;
    width: 220px;
    height: 220px; }
  .ProductosVariedades__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; }
  .ProductosVegetarianos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 420px 250px 300px;
    font-size: 14px;
    padding-left: 10px; }
  .ProductosVegetarianos__imagen {
    border-radius: 20px;
    width: 220px;
    height: 220px; }
  .ProductosVegetarianos__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; }
  .ProductosVeganos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 550px;
    font-size: 14px;
    padding-left: 10px; }
  .ProductosVeganos__imagen {
    border-radius: 20px;
    width: 220px;
    height: 220px; }
  .ProductosVeganos__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; } }

/* adapta los elementos de la pagina web a la resolucion de 480px */
@media only screen and (min-width: 411px) and (max-width: 480px) {
  .Combos__imagen {
    width: 150px;
    height: 150px; }
  .Footer__imagen {
    width: 80px;
    height: 80px; }
  .Footer__imagen:hover {
    transition: 1s;
    width: 100px;
    height: 100px; }
  .Carrito__titulo {
    font-size: 16px; }
  .Carrito__fuente {
    font-size: 14px; }
  .Carrito__button {
    height: 35px;
    width: 200px;
    font-size: 16px; }
  .Combos__button {
    font-size: 12px;
    width: 120px;
    height: 30px; }
  .Combos {
    display: grid;
    grid-template-rows: 375px 375px 375px;
    align-items: center;
    justify-items: center;
    font-size: 16px; }
  .Footer {
    width: 100%;
    font-size: 12px; }
  .titulo {
    font-size: 22px; }
  .subtitulo {
    font-size: 20px; }
  .Footer__titulo {
    font-size: 12px; }
  .tamaño {
    height: 350px;
    width: 100% !important;
    padding-left: 0px; }
  .SobreNosotros {
    display: grid;
    grid-template-rows: 70px 200px;
    font-size: 14px; }
  .comentario {
    font-size: 14px; }
  .Formulario {
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 50px;
    padding-left: 25px; }
  .Formulario__CuadroDeTexto {
    width: 180px;
    height: 2rem; }
  .Formulario__CuadroDeTexto--comentario {
    width: 180px;
    height: 8rem; }
  .Formulario__fuente {
    font-size: 14px; }
  .Formulario__fuente--sexo {
    font-size: 14px; }
  .ProductosVariedades {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 450px 700px 280px 250px 320px;
    grid-row-gap: 10px;
    font-size: 14px;
    padding-left: 10px; }
  .ProductosVariedades__imagen {
    border-radius: 20px;
    width: 200px;
    height: 200px; }
  .ProductosVariedades__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; }
  .ProductosVegetarianos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 420px 250px 300px;
    font-size: 14px;
    padding-left: 10px; }
  .ProductosVegetarianos__imagen {
    border-radius: 20px;
    width: 200px;
    height: 200px; }
  .ProductosVegetarianos__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; }
  .ProductosVeganos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 550px;
    font-size: 14px;
    padding-left: 10px; }
  .ProductosVeganos__imagen {
    border-radius: 20px;
    width: 200px;
    height: 200px; }
  .ProductosVeganos__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; } }

/* adapta los elementos de la pagina web a la resolucion de 321px a 410px */
@media only screen and (min-width: 321px) and (max-width: 410px) {
  .Combos__imagen {
    width: 150px;
    height: 150px; }
  .Footer__imagen {
    width: 80px;
    height: 80px; }
  .Footer__imagen:hover {
    transition: 1s;
    width: 100px;
    height: 100px; }
  .tamaño {
    height: 350px;
    width: 100% !important;
    padding-left: 0px; }
  .Carrito__titulo {
    font-size: 16px; }
  .Carrito__fuente {
    font-size: 14px; }
  .Carrito__button {
    height: 35px;
    width: 200px;
    font-size: 16px; }
  .Combos__button {
    font-size: 12px;
    width: 120px;
    height: 30px; }
  .Combos {
    display: grid;
    grid-template-rows: 375px 375px 375px;
    align-items: center;
    justify-items: center;
    font-size: 16px; }
  .Footer {
    width: 100%;
    font-size: 12px; }
  .titulo {
    font-size: 22px; }
  .subtitulo {
    font-size: 20px; }
  .Footer__titulo {
    font-size: 12px; }
  .SobreNosotros {
    display: grid;
    grid-template-rows: 70px 300px;
    font-size: 14px; }
  .comentario {
    font-size: 14px; }
  .Formulario {
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 50px;
    padding-left: 15px; }
  .Formulario__CuadroDeTexto {
    width: 150px;
    height: 2rem; }
  .Formulario__CuadroDeTexto--comentario {
    width: 150px;
    height: 8rem; }
  .Formulario__fuente {
    font-size: 14px; }
  .Formulario__fuente--sexo {
    font-size: 14px; }
  .ProductosVariedades {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px 800px 300px 250px 320px;
    grid-row-gap: 10px;
    font-size: 14px;
    padding-left: 10px; }
  .ProductosVariedades__imagen {
    border-radius: 20px;
    width: 160px;
    height: 160px; }
  .ProductosVariedades__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; }
  .ProductosVegetarianos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 420px 250px 300px;
    font-size: 14px;
    padding-left: 10px; }
  .ProductosVegetarianos__imagen {
    border-radius: 20px;
    width: 160px;
    height: 160px; }
  .ProductosVegetarianos__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; }
  .ProductosVeganos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 600px;
    font-size: 14px;
    padding-left: 10px; }
  .ProductosVeganos__imagen {
    border-radius: 20px;
    width: 160px;
    height: 160px; }
  .ProductosVeganos__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; } }

/* adapta los elementos de la pagina web a la resolucion de 320px */
@media only screen and (max-width: 320px) {
  .Footer {
    width: 100%;
    font-size: 8px; }
  .titulo {
    font-size: 16px; }
  .subtitulo {
    font-size: 14px; }
  .Footer__titulo {
    font-size: 10px; }
  .Combos {
    display: grid;
    grid-template-rows: 300px 300px 300px;
    align-items: center;
    justify-items: center;
    font-size: 12px; }
  .Combos__button {
    font-size: 8px;
    width: 65px; }
  .Combos__imagen {
    width: 100px;
    height: 100px; }
  .Footer__imagen {
    width: 35px;
    height: 35px; }
  .Footer__imagen:hover {
    transition: 1s;
    width: 45px;
    height: 45px; }
  .tamaño {
    height: 250px;
    width: 100% !important;
    padding-left: 0px; }
  .lead {
    font-size: 16px !important; }
  .comentario {
    font-size: 12px; }
  .SobreNosotros {
    font-size: 12px;
    display: grid;
    grid-template-rows: 75px 250px; }
  .Formulario {
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px 200px 50px;
    padding-left: 5px; }
  .Formulario__CuadroDeTexto {
    width: 150px;
    height: 2rem; }
  .Formulario__CuadroDeTexto--comentario {
    width: 150px;
    height: 8rem; }
  .Formulario__fuente {
    font-size: 14px; }
  .Formulario__fuente--sexo {
    font-size: 12px; }
  .Carrito__titulo {
    font-size: 16px; }
  .Carrito__button {
    height: 25px;
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 14px; }
  .Carrito__fuente {
    font-size: 12px; }
  .ProductosVariedades {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 450px 700px 280px 250px 300px;
    grid-row-gap: 10px;
    font-size: 12px; }
  .ProductosVariedades__imagen {
    border-radius: 20px;
    width: 150px;
    height: 150px; }
  .ProductosVariedades__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; }
  .ProductosVegetarianos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 420px 250px 300px;
    font-size: 12px; }
  .ProductosVegetarianos__imagen {
    border-radius: 20px;
    width: 150px;
    height: 150px; }
  .ProductosVegetarianos__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; }
  .ProductosVeganos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 550px;
    font-size: 12px; }
  .ProductosVeganos__imagen {
    border-radius: 20px;
    width: 150px;
    height: 150px; }
  .ProductosVeganos__button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px; } }
